<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">elchapas23</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.101.21/retoalojamientos</property>
        <property name="hibernate.connection.username">retoaloj</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.yuua.reto.entidades.Localizacion"></mapping>
        <mapping class="com.yuua.reto.entidades.Alojamiento"></mapping>
        <mapping class="com.yuua.reto.entidades.Municipio"></mapping>
        <mapping class="com.yuua.reto.entidades.Territorio"></mapping>
        <mapping class="com.yuua.reto.entidades.Pais"></mapping>
        <mapping class="com.yuua.reto.conexionbd.Manzana"></mapping>
        
    </session-factory>
</hibernate-configuration>
